<hr>
<div class="pt-20 pb-10 text-dark font-bold uppercase flex-col items-center text-xl flex justify-center">
  <div class="z-10 absolute mb-4">My Projects</div>
  <div class="bg-yellow-400 w-40 h-4 relative"></div>
</div>
<div class="projects flex flex-col gap-7 mb-5">
  <div class="menu-nav flex justify-center gap-10 py-5 text-slate-500 font-semibold">
    <div class="">All</div>
    <div class="">Frontend</div>
    <div class="">Backend</div>
    <div class="">Fullstack</div>
  </div>
  <div class="content-project mx-auto flex flex-wrap gap-5">
    <div class="shadow-xl flex flex-col rounded-xl pb-3 gap-2">
      <div class="card-image p-2 border-b-4 border-neutral-100">
        <img src="../assets/images/projects/ecocare.jpeg" alt="">
      </div>
      <div class="py-2 overflow-x-scroll w-100">
        <div class="px-4 flex flex-row justify-start gap-3 items-center">
          <img width="40" src="../assets/images/stack/codeigniter.svg" alt="codeigneter">
          <img width="40" src="../assets/images/stack/php.svg" alt="php">
          <img width="40" src="../assets/images/stack/mysql.svg" alt="mysql">
          <img width="40" src="../assets/images/stack/nginx.svg" alt="nginx">
        </div>
      </div>
    </div>
  </div>
</div>
